body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    min-height: 100vh;
}

.cart-item {
    background-color: white;
    box-shadow: 1px 2px 6px 2px rgb(219, 219, 219);
    border-radius: 10px;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr auto;
    gap: 10px;
    align-items: center;
}

.cart-item-delete {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cart-item p {
    margin: 5px 0;
    text-align: center;
}

.cart-item-header {
    font-weight: bold;
}

.cart-items {
    width: 100%;
    margin-bottom: 20px;
}

.quantity-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #333;
    font-size: 12px;
    margin: 0 5px;
}

.quantity-button:focus {
    outline: none;
}

.quantity-button:hover {
    color: #444;
}

.cart-summary {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.total-summary {
    text-align: right;
}

.buy-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.buy-button:hover {
    background-color: darkgreen;
}

.delete-icon-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.delete-icon-button {
    background: none;
    border: none;
    cursor: pointer;
    color: red;
    font-size: 20px;
    margin-left: 10px;
}

@media (max-width: 800px) {
    .cart-container {
        padding: 20px;
    }
}


/* ----------------------------- MEDIA QUERY --------------------------- */

@media(max-width: 800px) {
    img {
        width: 60px;
        margin-right: 20px;
    }
    h3,
    h4 {
        font-size: 14px;
    }
    h2 {
        font-size: 18px;
    }
    #cartMainContainer {
        padding: 90px 20px;
    }
}

@media(max-width: 555px) {
    #cartContainer {
        display: grid;
        grid-template-columns: 1fr;
    }
    #boxContainer {
        padding: 20px;
        width: 80%;
    }
}


/* Extra Small Devices (portrait phones) */

@media only screen and (max-width: 576px) {
    .flex {
        flex: 1 1 100%;
        max-width: 100%;
        padding: 0 10px;
        background-size: contain;
        background-attachment: scroll;
    }
    .row {
        flex-direction: column;
    }
}


/* Small Devices (landscape phones) */

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .flex {
        padding: 0 15px;
    }
}


/* Medium Devices (tablets) */

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .flex {
        padding: 0 30px;
    }
}


/* Large Devices (small laptops and tablets) */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}


/* Extra Large Devices (laptops and desktops) */

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    .flex {
        padding: 0 50px;
    }
}